@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --Blue-800: hsl(234, 29%, 20%);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%,58%);
    --White: hsl(0, 0%, 100%);
    --Red: hsl(4, 100%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    /* font-size: 16px; */
    background-color: var(--Blue-700);
    color: var(--Blue-700);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: var(--White);
    display: flex;
    padding: 0.75rem;
    border-radius: 1rem;
    width: 45rem;
    line-height: 1.5;
}

.heading{
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.text{
    margin-bottom: 0.75rem;

}

ul{
    list-style-image: url('/newsletter-sign-up-with-success-message-main/assets/images/icon-list.svg');
    padding-left: 1.75rem;
    margin-bottom: 0.75rem;
}

/* li{
    display: flex;
    align-items: center;
    list-style: url('/newsletter-sign-up-with-success-message-main/assets/images/icon-list.svg');
} */

li:not(:last-child) {
  margin-bottom: 0.625rem;
}

/* .icon-list img{
    width: 1.25rem;
    height: 1.25rem;
    background-size: cover;
    padding-right: 0.25rem;
} */



img{
    height: 27rem;
    width: 17rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.signup-description{
    margin: 2rem;
    width: 23.5rem;
}

input#email{
    width: 20rem;
    padding: 1em 2em;
    font-weight: 400;
    color: var(--Blue-700);
    border: 1px solid var(--Grey);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    line-height: 150%;
}

button[type='submit']{
    width: 20rem;
    text-align: center;
    
    background-color: var(--Blue-800);
    color: #fff;
    padding: 1rem 0rem;
    border-radius: 0.45rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
}

.success{
    visibility: hidden;
}