@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Primary */
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
}

*{
    -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    background-color: var(--Grey-200);
    

    /*  */
    display: grid;
    justify-content: center;
    place-items: center;
    /* margin: 2rem 0rem; */
    height: 100vh;
}

#container{
    width: 80%;
    display: grid;
    justify-content: center;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    grid-template-rows: auto;
    gap: 1.5rem;
    margin: auto;
}

.testimonial{
    /* margin: 2rem; */
    padding: 1.5rem 1.5rem;
    border-radius: 0.5rem;
    
}

.testimonial div{
    padding-bottom: 0.5rem;
}


.testimonial-1{
    color: var(--White);
    background-color: var(--Purple-500);
    grid-column: 1 / span 2;
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 85% top;
}
.testimonial-1 img{
    border: 0.25rem solid var(--Purple-300);
}

.testimonial-2{
    color: var(--White);
    background-color: var(--Grey-500);
    
}

.testimonial-3, .testimonial-5{
    color: var(--Grey-500);
    background-color: var(--White);
}

.testimonial-5{
    grid-column: 4;
    grid-row: 1 / span 2;
}

.testimonial-4{
    background-color: var(--Dark-blue);
    color: var(--White);
    grid-column: 2 / span 2;
}
.testimonial-4 img{
    border: 0.25rem solid var(--Purple-300);
}

.author{
    display: flex;
    /* justify-content: center; */
    align-items:center ;
}

.author img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.author span{
    display: block;
    padding-left: 1rem;
    line-height: 1.5rem;
}

.author span[class='name']{
    font-weight: 600;
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: .75rem;
    padding-right: 2rem;
}

.testimonial p{
    line-height: 1.25rem;
    font-size: 1rem;
}

.testimonial-detailled{
    font-size: 0.75rem;
}

@media (max-width: 850px) {
    body{
        margin: 2rem 1.5rem;
        height: auto;
    }
    #container{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
}