:root{
    /* Primary */
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);

    /* Neutral */
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Cream);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    width: 35rem;
    background-color: var(--White);
    border-radius: 0.5rem;
    display: flex;
}

.product-image img{
    display: block;
    width: 17.5rem;
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
}

.product-details{
    padding: 1.5rem;
}

.product-category *,
.product-specifics *,
.product-action-details{
    padding-bottom: 1rem;
}

.product-category h2,
.product-specifics .product-description, 
.old-price{
    font-family: "Montserrat";
    font-weight: 300;
    color: var(--Grey);
}



.product-category h2{
    text-transform: uppercase;
}

.product-specifics .product-name{
    font-family: "Fraunces";
    font-weight: 700;
    padding-right: 1.25rem;
}

.product-specifics .product-description{
    font-weight: 500;
    line-height: 1.75;
}

.price{
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.price .current-price{
    color: var(--Green-500);
    font-size: 2rem;
    font-weight: 700;
    font-family: "Fraunces";
    padding-right: 1rem;
}

.price .old-price{
    color: var(--Grey);
}

.btn-add-to-cart{
    width: 100%;
    padding: 1rem 0;
    border: none;
    color: var(--White);
    background-color: var(--Green-500);
    font-family: "Montserrat";
    font-weight: 500;
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
}
.btn-add-to-cart img{
    padding-right: 0.75rem;
}

.btn-add-to-cart:hover{
    background-color: var(--Green-700);
}

@media (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    #container {
        display: block;
        max-width: 100%;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .product-image img {
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .product-details {
        padding: 1rem;
    }

    .price {
        flex-direction: row;
        /* align-items: flex-start; */
    }

    
}
