:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%)
}

* {
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--Yellow);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container{
    background-color: var(--White);
    padding: 18px;
    border-radius: 15px;
    box-shadow: 5px 5px;
    width: 18rem;
    border: 1px solid black;
}

.banner{
    border-radius: 8px;
    margin-bottom: 10px;
}

span{
    display: block;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    /* padding: 7.5px; */
    border-radius: 5px;
    background-color: var(--Yellow);
    font-weight: 800;
    margin: 10px 0px;
}

